@font-face {
	font-family: 'AachenBt';
	src: url('../fonts/aachen_bt.eot');
	src: local('☺'), url('../fonts/aachen_bt.woff') format('woff'), url('../fonts/aachen_bt.ttf') format('truetype'), url('../fonts/aachen_bt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: 'AachenBt';
    background: #1d1d23;
}

.header {
    background: url('../img/header-bg.jpg') #28282d no-repeat center / cover;
}
.header__container {
    background-color: #28282d;
    opacity: .95;
    height: 100vh;
}
.header__menu {
    max-width: 1350px;
    margin: 0 auto;
    padding: 15px 50px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu__list {
    display: flex;
    list-style: none;
    padding: 0;
}
.menu__link {
    margin: 0px 25px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.menu__logo {

}

.header__body {
    display: flex;
    justify-content: center;
    height: calc(100vh - 98px);
}
.header__img {
    flex: 1 1 100%;
    max-width: 700px;
    margin: auto 0;
    padding: 50px;
    text-align: right;
}
.header__img img {
    max-width: 100%;
}
.header__content {
    flex: 1 1 100%;
    max-width: 700px;
    margin: auto 0;
    padding: 50px 50px 50px 0px;
}
.header__title {
    margin: 0 0 20px 0;
    font-size: 64px;
    color: #e58f00;
}
.header__text {
    margin: 0 0 20px 0;
    font-size: 32px;
    color: #fff;
}
.header__btn {
    padding: 20px 35px;
    font-size: 32px;
    background-color: #e58f00;
}